@use "../../../scss/variables" as *;

.footer {
  background-color: #3c3c3b;
  padding-top: $space-10;
  main {
    border-bottom: 0.4px solid #868686;
    padding: $space-3 0;

    .firstPart {
      padding-right: $space-4;
      border-right: 0.4px solid #868686;

      img {
        margin-bottom: $space-5;
      }

      p {
        font-size: 14px;
        margin-bottom: $space-3;
        color: var(--light-color);
      }
    }
    .secondPart {
      padding-left: $space-6;
      h5 {
        font-size: 18px;
        color: var(--light-color);
        margin-bottom: $space-2;
      }

      .inputContainer {
        width: 100%;
        position: relative;
        margin-bottom: $space-6;
        input {
          width: 100%;
          padding: $space-3;
          background-color: var(--light-color);
          border: none;
          border-radius: 24px;
          font-size: 12px;
          color: var(--third-color);
          outline: none;
          &::placeholder {
            color: var(--third-color);
          }
        }

        button {
          position: absolute;
          top: 50%;
          right: 5px;
          transform: translateY(-50%);
          display: flex;
          align-items: center;
          justify-content: center;
          padding: $space-2 $space-3;
          border: none;
          border-radius: 19px;
          background-color: var(--primary-color);
          font-size: 10px;
          color: var(--secondary-color);
          svg {
            margin-left: $space-1;
            font-size: 18px;
          }
        }
      }

      .pages {
        ul {
          li {
            font-size: 16px;
            color: var(--light-color);
            margin-bottom: $space-3;
          }
        }
      }

      .socialMediaLinks {
        padding-left: $space-6;
        border-left: 0.4px solid #868686;

        ul {
          li {
            display: flex;
            align-items: center;
            font-size: 16px;
            color: var(--light-color);
            margin-bottom: $space-2;
            img {
              margin-right: $space-2;
            }
          }
        }
      }
    }
  }
  footer {
    padding: $space-2 0;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        p {
          font-size: 14px;
          color: var(--light-color);
        }

        &.images {
          img {
            margin-right: $space-2;
            &:last-of-type {
              margin: 0;
            }
          }
        }

        &.poweredBy {
          display: flex;
          align-items: center;
          font-size: 14px;
          color: var(--light-color);
          img {
            margin-left: $space-1;
          }
        }
      }
    }
  }

  @media (max-width: #{$tabletBreakPoint - 1} ) {
    main {
      .firstPart {
        padding-right: 0;
        border-right: none;
      }
      .secondPart {
        padding-left: $space-3;

        .socialMediaLinks {
          padding-left: $space-6;
          border-left: none;
        }
      }
    }
    footer {
      ul {
        flex-direction: column;
        li {
          margin-bottom: $space-2;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
