// spacing

$space-1: 5px;
$space-2: 10px;
$space-3: 15px;
$space-4: 20px;
$space-5: 25px;
$space-6: 30px;
$space-7: 35px;
$space-8: 40px;
$space-9: 45px;
$space-10: 50px;
$space-11: 55px;
$space-12: 60px;

// screens
$mobileBreakPoint: 425px;
$tabletBreakPoint: 768px;
$desktopBreakPoint: 1024px;
